.parent{
    -fx-background-color: transparent;
}

.pane{
   -fx-background-color: #B3FFB3;
}

.white{
    -fx-background-color: transparent;
}

.panel{
    -fx-background-color: #0C3105;
    -fx-font-family: 'Alata';
}

@font-face {
    font-family: 'Alata';
    src: url('../fonts/Alata-Regular.ttf');
}

.textBig {
    -fx-font-family: 'Alata';
    -fx-font-size: 36px;
    -fx-text-fill: white;
}

.textBigDark {
    -fx-font-family: 'Alata';
    -fx-font-size: 36px;
    -fx-text-fill: #0C3105;
}

.textSmall {
    -fx-font-family: 'Alata';
    -fx-font-size: 21px;
    -fx-text-fill: white;
}

.textSmallDark {
    -fx-font-family: 'Alata';
    -fx-font-size: 19px;
    -fx-text-fill: #0C3105;
}

.button {
    -fx-font-family: 'Alata';
    -fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.input{
    -fx-font-family: 'Alata';
    -fx-text-fill: white;
    -fx-font-size: 19px;
}

.inputUser{
    -fx-font-family: 'Alata';
    -fx-text-fill: #0C3105;
    -fx-font-size: 19px;
}


.textBigPane{
    -fx-font-family: 'Alata';
    -fx-font-size: 40px;
    -fx-text-fill: #0C3105;
    -fx-font-weight: bold;
    -fx-font-style: italic;
}

.forgotPass{
    -fx-font-family: 'Alata';
    -fx-font-size: 21px;
    -fx-text-fill: #B3FFB3;
    -fx-underline: true;
}

.table-view {
    -fx-background-color: #F0FFF0;
    -fx-background-radius: 10;
    -fx-border-color: #0C3105;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-padding: 0;
}

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color: #0C3105;
    -fx-border-width: 0 1 2 0;
    -fx-border-color: #0C3105;
}

.table-view .column-header .label {
    -fx-font-family: 'Alata';
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10 5 10 5;
    -fx-alignment: CENTER;
}

.table-view .table-row-cell:odd {
    -fx-background-color: #E6FFE6;
}

.table-view .table-row-cell:even {
    -fx-background-color: #F0FFF0;
}

.table-view .table-row-cell:selected {
    -fx-background-color: #B3FFB3;
}

.table-row-cell:selected .table-cell {
    -fx-text-fill: #0C3105;
}


.table-view .table-cell {
    -fx-font-family: 'Alata';
    -fx-font-size: 14px;
    -fx-alignment: CENTER-LEFT;
    -fx-padding: 8 5 8 5;
    -fx-border-color: transparent #CCFFCC transparent transparent;
    -fx-border-width: 0 1 0 0;
}

.table-row-cell {
    -fx-cell-size: 40px;
}

.table-view .scroll-bar:vertical,
.table-view .scroll-bar:horizontal {
    -fx-background-color: #F0FFF0;
}

.table-view .scroll-bar:vertical .thumb,
.table-view .scroll-bar:horizontal .thumb {
    -fx-background-color: #0C3105;
    -fx-background-radius: 5em;
}

.table-view .table-row-cell:hover {
    -fx-background-color: #B3FFB3;
}

.table-view .placeholder .label {
    -fx-text-fill: #0C3105;
    -fx-font-family: 'Alata';
}